<?xml version="1.0" encoding="utf-8"?>
<config>
    <modules>
        <module category="Datenaustausch" context="11081_FritzBox_Dect200" id="11081" name="Fritz DECT200 (11081)" version="3.3">
            <inputs>
				<input type="string" const_name="auth_data" init_value="">Auth. Data</input>
                <input type="string" const_name="sIp" init_value="">Fritzbox IP</input>				
				<input type="string" const_name="user" init_value="">User</input>
                <input type="string" const_name="pw" init_value="">Passwort</input>
				<input type="string" const_name="sAin" init_value="">AIN</input>
                <input type="number" const_name="bOnOff" init_value="0">Ein/Aus</input>
				<input type="number" const_name="nIntervall" init_value="310">Abfrageintervall [s]</input>
            </inputs>
            <outputs>
                <output type="string" const_name="name" init_value="">Name</output>
                <output type="number" const_name="present" init_value="0">RM Present (sbc)</output>
				<output type="number" const_name="bRmOnOff" init_value="0">RM Ein/Aus (sbc)</output>
				<output type="number" const_name="nMW" init_value="0">RM Akt. mW (sbc)</output>
				<output type="number" const_name="nZaehlerWh" init_value="0">RM Akt. Zaehlerst. Wh (sbc)</output>
				<output type="number" const_name="nTemp" init_value="0">RM Akt. Temp. °C (sbc)</output>				
                <output type="string" const_name="auth_data" init_value="">Auth. Data (sbc)</output>
            </outputs>
			<remanent_variables>
            </remanent_variables>
            <imports>
            </imports>		
        </module>	
    </modules>
</config>
